{% extends 'base.html.twig' %}

{% block title %}Modifier un plat
{% endblock %}

{% block body %}
<div class="container mt-4" style="max-width: 80%">

    <h1 class="text-center">Modification d'un plat</h1>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.Category) }}
        {{ form_widget(form.Category)}}
        <div class="form-error">
        {{ form_errors(form.Category) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title)}}
        <div class="form-error">
        {{ form_errors(form.title) }}
        </div>
    </div>

      <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description)}}
        <div class="form-error">
        {{ form_errors(form.description) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price)}}
        <div class="form-error">
        {{ form_errors(form.price) }}
        </div>
    </div>

    <!-- The image functionality is not yet implemented-->

    <div class="form-group">
        {{ form_row(form.submit) }}
    </div>


{{ form_end(form) }}
</div>

{% endblock %}