{% extends 'base.html.twig' %}

{% block title %}Carte du restaurant
{% endblock %}

{% block body %}

	<div class="dishes-container">
		{% if not dishes is same as([]) %}
			<h1 class="h2-title">Voici le carte de notre restaurant</h1>
			<p>Le Chef Arnaud Michant aime passionnément les produits - et producteurs - de la Savoie.
				               C’est pourquoi il vous propose au déjeuner comme au dîner une expérience gastronomique, 
				               à travers une cuisine sans artifice avec ce goût de la qualité. Plus encore que ses 
				               deux autres restaurants, Arnaud Michant le voit comme une promesse d’un voyage dans 
				               son univers culinaire.
			</p>


			<div class="accordion d-flex flex-column" id="accordionExample">
				<div class="accordion-item">
					<h3 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed dropdown-toggle btn btn-primary btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							Les entrées
						</button>
					</h3>
					<div id="collapseOne" class="accordion-collapse collapse collapse-dishes" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
						<div class="accordion-body">
							{% for dish in dishes %}
								{% if dish.category == 'Entrée' %}
									<div class="dishes-content">
										<div class="dishes-maininfo">
											<p class="dish-title">{{ dish.title }}</p>
											<p class="dish-price">{{ dish.price }}
												€</p>
										</div>
										<p class="dish-desc">{{ dish.description }}</p>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h3 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed dropdown-toggle btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="font-size: 1.5rem; width: 100%; height: 60px; padding: 10px">
							Les plats
						</button>
					</h3>
					<div id="collapseTwo" class="accordion-collapse collapse collapse-dishes" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
						<div class="accordion-body">
							{% for dish in dishes %}
								{% if dish.category == 'Plat' %}
									<div class="dishes-content">
										<div class="dishes-maininfo">
											<p class="dish-title">{{ dish.title }}</p>
											<p class="dish-price">{{ dish.price }}
												€</p>
										</div>
										<p class="dish-desc">{{ dish.description }}</p>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h3 class="accordion-header" id="headingThree">
						<button class="accordion-button collapsed dropdown-toggle btn btn-primary btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="font-size: 1.5rem; width: 100%; height: 60px; padding: 10px">
							Les desserts
						</button>
					</h3>
					<div id="collapseThree" class="accordion-collapse collapse collapse-dishes" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							{% for dish in dishes %}
								{% if dish.category == 'Dessert' %}
									<div class="dishes-content">
										<div class="dishes-maininfo">
											<p class="dish-title">{{ dish.title }}</p>
											<p class="dish-price">{{ dish.price }}
												€</p>
										</div>
										<p class="dish-desc">{{ dish.description }}</p>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h3 class="accordion-header" id="headingFour">
						<button class="accordion-button collapsed dropdown-toggle btn btn-primary btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="font-size: 1.5rem; width: 100%; height: 60px; padding: 10px">
							Les boissons
						</button>
					</h3>
					<div id="collapseFour" class="accordion-collapse collapse collapse-dishes" aria-labelledby="headingFour" data-bs-parent="#accordionExample" style="">
						<div class="accordion-body">
							{% for dish in dishes %}
								{% if dish.category == 'Boisson' %}
									<div class="dishes-content">
										<div class="dishes-maininfo">
											<p class="dish-title">{{ dish.title }}</p>
											<p class="dish-price">{{ dish.price }}
												€</p>
										</div>
										<p class="dish-desc">{{ dish.description }}</p>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

		{% else %}
			<h1>Il n'y a pas encore de plats dans la carte</h1>
		{% endif %}
	</div>


{% endblock %}
